<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Yumacron</key>
    <string>Y_umacron.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>cedi.rvrn</key>
    <string>cedi.rvrn.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>pe.locl</key>
    <string>pe.locl.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tonoscomb.case</key>
    <string>tonoscomb.case.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
