<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>horizontalbarH</key>
    <string>horizontalbarH_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
  </dict>
</plist>
