<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Cy-descendercomb.case</key>
    <string>C_y-descendercomb.case.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha-stroke</key>
    <string>H_a-stroke.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Obarcyr-stroke</key>
    <string>O_barcyr-stroke.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>obarcyr-stroke</key>
    <string>obarcyr-stroke.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>te</key>
    <string>te.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>yu-i</key>
    <string>yu-i.glif</string>
    <key>yu.bgr-stroke</key>
    <string>yu.bgr-stroke.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
  </dict>
</plist>
