<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>El.bgr</key>
    <string>E_l.bgr.glif</string>
    <key>Endescender</key>
    <string>E_ndescender.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Ghe</key>
    <string>G_he.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha-stroke</key>
    <string>H_a-stroke.glif</string>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Obarcyr</key>
    <string>O_barcyr.glif</string>
    <key>Obarcyr-stroke</key>
    <string>O_barcyr-stroke.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>Shcha</key>
    <string>S_hcha.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tedescender-cy</key>
    <string>T_edescender-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-stroke</key>
    <string>U_-stroke.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Yi-dieresis.case</key>
    <string>Y_i-dieresis.case.glif</string>
    <key>Yi-dieresiscomb.case</key>
    <string>Y_i-dieresiscomb.case.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute-stack</key>
    <string>acute-stack.glif</string>
    <key>acute-stack.case</key>
    <string>acute-stack.case.glif</string>
    <key>acute.case</key>
    <string>acute.case.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb-stack</key>
    <string>acutecomb-stack.glif</string>
    <key>acutecomb-stack.case</key>
    <string>acutecomb-stack.case.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acyr</key>
    <string>acyr.glif</string>
    <key>adieresiscyr</key>
    <string>adieresiscyr.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>alphatonos</key>
    <string>alphatonos.glif</string>
    <key>amacroncyr</key>
    <string>amacroncyr.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve-stack</key>
    <string>breve-stack.glif</string>
    <key>breve-stack.case</key>
    <string>breve-stack.case.glif</string>
    <key>breve.case</key>
    <string>breve.case.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>breve.cyrcomb</key>
    <string>breve.cyrcomb.glif</string>
    <key>breve.cyrcomb.case</key>
    <string>breve.cyrcomb.case.glif</string>
    <key>brevebelow</key>
    <string>brevebelow.glif</string>
    <key>brevebelow.case</key>
    <string>brevebelow.case.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevebelowcomb.case</key>
    <string>brevebelowcomb.case.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-stack</key>
    <string>brevecomb-stack.glif</string>
    <key>brevecomb-stack.case</key>
    <string>brevecomb-stack.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>breveinverted</key>
    <string>breveinverted.glif</string>
    <key>breveinverted-stack</key>
    <string>breveinverted-stack.glif</string>
    <key>breveinverted-stack.case</key>
    <string>breveinverted-stack.case.glif</string>
    <key>breveinverted.case</key>
    <string>breveinverted.case.glif</string>
    <key>breveinvertedcomb</key>
    <string>breveinvertedcomb.glif</string>
    <key>breveinvertedcomb-stack</key>
    <string>breveinvertedcomb-stack.glif</string>
    <key>breveinvertedcomb-stack.case</key>
    <string>breveinvertedcomb-stack.case.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>breveinvertedcomb.stack</key>
    <string>breveinvertedcomb.stack.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron-stack</key>
    <string>caron-stack.glif</string>
    <key>caron-stack.case</key>
    <string>caron-stack.case.glif</string>
    <key>caron.case</key>
    <string>caron.case.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb-stack</key>
    <string>caroncomb-stack.glif</string>
    <key>caroncomb-stack.case</key>
    <string>caroncomb-stack.case.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedilla.case</key>
    <string>cedilla.case.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex-stack</key>
    <string>circumflex-stack.glif</string>
    <key>circumflex-stack.case</key>
    <string>circumflex-stack.case.glif</string>
    <key>circumflex.case</key>
    <string>circumflex.case.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb-stack</key>
    <string>circumflexcomb-stack.glif</string>
    <key>circumflexcomb-stack.case</key>
    <string>circumflexcomb-stack.case.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>commaaccent.case</key>
    <string>commaaccent.case.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentcomb.case</key>
    <string>commaaccentcomb.case.glif</string>
    <key>commaaccentturned</key>
    <string>commaaccentturned.glif</string>
    <key>commaaccentturnedcomb</key>
    <string>commaaccentturnedcomb.glif</string>
    <key>cy-descender</key>
    <string>cy-descender.glif</string>
    <key>cy-descendercomb</key>
    <string>cy-descendercomb.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dblgrave</key>
    <string>dblgrave.glif</string>
    <key>dblgrave-stack</key>
    <string>dblgrave-stack.glif</string>
    <key>dblgrave-stack.case</key>
    <string>dblgrave-stack.case.glif</string>
    <key>dblgrave.case</key>
    <string>dblgrave.case.glif</string>
    <key>dblgravecomb</key>
    <string>dblgravecomb.glif</string>
    <key>dblgravecomb-stack</key>
    <string>dblgravecomb-stack.glif</string>
    <key>dblgravecomb-stack.case</key>
    <string>dblgravecomb-stack.case.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>de.bgr</key>
    <string>de.bgr.glif</string>
    <key>de.locl</key>
    <string>de.locl.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descenderinverted-cy</key>
    <string>descenderinverted-cy.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis-stack</key>
    <string>dieresis-stack.glif</string>
    <key>dieresis-stack.case</key>
    <string>dieresis-stack.case.glif</string>
    <key>dieresis.case</key>
    <string>dieresis.case.glif</string>
    <key>dieresisbelow</key>
    <string>dieresisbelow.glif</string>
    <key>dieresisbelow.case</key>
    <string>dieresisbelow.case.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresisbelowcomb.case</key>
    <string>dieresisbelowcomb.case.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb-stack</key>
    <string>dieresiscomb-stack.glif</string>
    <key>dieresiscomb-stack.case</key>
    <string>dieresiscomb-stack.case.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>dieresistonoscomb</key>
    <string>dieresistonoscomb.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>dollar.rvrn</key>
    <string>dollar.rvrn.glif</string>
    <key>dollar.rvrn2</key>
    <string>dollar.rvrn2.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccent-stack</key>
    <string>dotaccent-stack.glif</string>
    <key>dotaccent-stack.case</key>
    <string>dotaccent-stack.case.glif</string>
    <key>dotaccent.case</key>
    <string>dotaccent.case.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb-stack</key>
    <string>dotaccentcomb-stack.glif</string>
    <key>dotaccentcomb-stack.case</key>
    <string>dotaccentcomb-stack.case.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotbelow</key>
    <string>dotbelow.glif</string>
    <key>dotbelow.case</key>
    <string>dotbelow.case.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotbelowcomb.case</key>
    <string>dotbelowcomb.case.glif</string>
    <key>dze</key>
    <string>dze.glif</string>
    <key>dzhe</key>
    <string>dzhe.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ebrevecyr</key>
    <string>ebrevecyr.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>emacroncyr</key>
    <string>emacroncyr.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>engn</key>
    <string>engn.glif</string>
    <key>engtail</key>
    <string>engtail.glif</string>
    <key>enspace</key>
    <string>enspace.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>epsilontonos</key>
    <string>epsilontonos.glif</string>
    <key>er</key>
    <string>er.glif</string>
    <key>es</key>
    <string>es.glif</string>
    <key>esdescendercyr</key>
    <string>esdescendercyr.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>etatonos</key>
    <string>etatonos.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>firsttonechinese</key>
    <string>firsttonechinese.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ghe.locl</key>
    <string>ghe.locl.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>gje</key>
    <string>gje.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave-stack</key>
    <string>grave-stack.glif</string>
    <key>grave-stack.case</key>
    <string>grave-stack.case.glif</string>
    <key>grave.case</key>
    <string>grave.case.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb-stack</key>
    <string>gravecomb-stack.glif</string>
    <key>gravecomb-stack.case</key>
    <string>gravecomb-stack.case.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>ha</key>
    <string>ha.glif</string>
    <key>ha-stroke</key>
    <string>ha-stroke.glif</string>
    <key>hadescender</key>
    <string>hadescender.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>hookabove</key>
    <string>hookabove.glif</string>
    <key>hookabove-stack</key>
    <string>hookabove-stack.glif</string>
    <key>hookabove.case</key>
    <string>hookabove.case.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb-stack</key>
    <string>hookabovecomb-stack.glif</string>
    <key>hookabovecomb-stack.case</key>
    <string>hookabovecomb-stack.case.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>horn</key>
    <string>horn.glif</string>
    <key>horn.case</key>
    <string>horn.case.glif</string>
    <key>hornU</key>
    <string>hornU_.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut-stack</key>
    <string>hungarumlaut-stack.glif</string>
    <key>hungarumlaut-stack.case</key>
    <string>hungarumlaut-stack.case.glif</string>
    <key>hungarumlaut.case</key>
    <string>hungarumlaut.case.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb-stack</key>
    <string>hungarumlautcomb-stack.glif</string>
    <key>hungarumlautcomb-stack.case</key>
    <string>hungarumlautcomb-stack.case.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ie</key>
    <string>ie.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>igrave.bgr</key>
    <string>igrave.bgr.glif</string>
    <key>igravecyr</key>
    <string>igravecyr.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>iotadieresis</key>
    <string>iotadieresis.glif</string>
    <key>iotadieresistonos</key>
    <string>iotadieresistonos.glif</string>
    <key>iotatonos</key>
    <string>iotatonos.glif</string>
    <key>ishort</key>
    <string>ishort.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>iukran</key>
    <string>iukran.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>je</key>
    <string>je.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>ka.bgr</key>
    <string>ka.bgr.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>kje</key>
    <string>kje.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macron-stack</key>
    <string>macron-stack.glif</string>
    <key>macron-stack.case</key>
    <string>macron-stack.case.glif</string>
    <key>macron.case</key>
    <string>macron.case.glif</string>
    <key>macronbelow</key>
    <string>macronbelow.glif</string>
    <key>macronbelow.case</key>
    <string>macronbelow.case.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macronbelowcomb.case</key>
    <string>macronbelowcomb.case.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb-stack</key>
    <string>macroncomb-stack.glif</string>
    <key>macroncomb-stack.case</key>
    <string>macroncomb-stack.case.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>obarcyr</key>
    <string>obarcyr.glif</string>
    <key>obarcyr-stroke</key>
    <string>obarcyr-stroke.glif</string>
    <key>obrevecyr</key>
    <string>obrevecyr.glif</string>
    <key>ocyr</key>
    <string>ocyr.glif</string>
    <key>odieresiscyr</key>
    <string>odieresiscyr.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonek.case</key>
    <string>ogonek.case.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>omacroncyr</key>
    <string>omacroncyr.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>omegatonos</key>
    <string>omegatonos.glif</string>
    <key>omicron</key>
    <string>omicron.glif</string>
    <key>omicrontonos</key>
    <string>omicrontonos.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>palochka</key>
    <string>palochka.glif</string>
    <key>pe</key>
    <string>pe.glif</string>
    <key>pe.bgr</key>
    <string>pe.bgr.glif</string>
    <key>pe.locl</key>
    <string>pe.locl.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ring-stack</key>
    <string>ring-stack.glif</string>
    <key>ring-stack.case</key>
    <string>ring-stack.case.glif</string>
    <key>ring.case</key>
    <string>ring.case.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb-stack</key>
    <string>ringcomb-stack.glif</string>
    <key>ringcomb-stack.case</key>
    <string>ringcomb-stack.case.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwacyr</key>
    <string>schwacyr.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>shha</key>
    <string>shha.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>te</key>
    <string>te.glif</string>
    <key>te.bgr</key>
    <string>te.bgr.glif</string>
    <key>te.locl</key>
    <string>te.locl.glif</string>
    <key>tedescender-cy</key>
    <string>tedescender-cy.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde-stack</key>
    <string>tilde-stack.glif</string>
    <key>tilde-stack.case</key>
    <string>tilde-stack.case.glif</string>
    <key>tilde.case</key>
    <string>tilde.case.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb-stack</key>
    <string>tildecomb-stack.glif</string>
    <key>tildecomb-stack.case</key>
    <string>tildecomb-stack.case.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildemacroncomb</key>
    <string>tildemacroncomb.glif</string>
    <key>tildemacroncomb.case</key>
    <string>tildemacroncomb.case.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonoscomb</key>
    <string>tonoscomb.glif</string>
    <key>tonoscomb.case</key>
    <string>tonoscomb.case.glif</string>
    <key>tse</key>
    <string>tse.glif</string>
    <key>tse.bgr</key>
    <string>tse.bgr.glif</string>
    <key>tshe</key>
    <string>tshe.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>ucyr</key>
    <string>ucyr.glif</string>
    <key>udieresiscyr</key>
    <string>udieresiscyr.glif</string>
    <key>uhungarumlautcyr</key>
    <string>uhungarumlautcyr.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>upsilondieresis</key>
    <string>upsilondieresis.glif</string>
    <key>upsilondieresistonos</key>
    <string>upsilondieresistonos.glif</string>
    <key>upsilontonos</key>
    <string>upsilontonos.glif</string>
    <key>ushort</key>
    <string>ushort.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraight-stroke</key>
    <string>ustraight-stroke.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>ve</key>
    <string>ve.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yamacron</key>
    <string>yamacron.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yeru</key>
    <string>yeru.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>yi-dieresis</key>
    <string>yi-dieresis.glif</string>
    <key>yi-dieresiscomb</key>
    <string>yi-dieresiscomb.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>yumacron</key>
    <string>yumacron.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zedescendercyr</key>
    <string>zedescendercyr.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhebrevecyr</key>
    <string>zhebrevecyr.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
    <key>zhedieresiscyr</key>
    <string>zhedieresiscyr.glif</string>
  </dict>
</plist>
