<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Cy-descendercomb.case</key>
    <string>C_y-descendercomb.case.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha-stroke</key>
    <string>H_a-stroke.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Obarcyr-stroke</key>
    <string>O_barcyr-stroke.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-stroke</key>
    <string>U_-stroke.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yu-dash.case</key>
    <string>Y_u-dash.case.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>cy-descendercomb</key>
    <string>cy-descendercomb.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>obarcyr</key>
    <string>obarcyr.glif</string>
    <key>obarcyr-stroke</key>
    <string>obarcyr-stroke.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>yu-i</key>
    <string>yu-i.glif</string>
    <key>yu.bgr-stroke</key>
    <string>yu.bgr-stroke.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
  </dict>
</plist>
