<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>El.bgr</key>
    <string>E_l.bgr.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ha-stroke</key>
    <string>H_a-stroke.glif</string>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Obarcyr-stroke</key>
    <string>O_barcyr-stroke.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Pe</key>
    <string>P_e.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U-stroke</key>
    <string>U_-stroke.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yu-dash.case</key>
    <string>Y_u-dash.case.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>alphatonos</key>
    <string>alphatonos.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>commaaccentturnedcomb</key>
    <string>commaaccentturnedcomb.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>dieresistonos.case</key>
    <string>dieresistonos.case.glif</string>
    <key>dollar.rvrn2</key>
    <string>dollar.rvrn2.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>epsilontonos</key>
    <string>epsilontonos.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>etatonos</key>
    <string>etatonos.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>firsttonechinese</key>
    <string>firsttonechinese.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ha-stroke</key>
    <string>ha-stroke.glif</string>
    <key>hadescender</key>
    <string>hadescender.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>idot</key>
    <string>idot.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>iotadieresis</key>
    <string>iotadieresis.glif</string>
    <key>iotadieresistonos</key>
    <string>iotadieresistonos.glif</string>
    <key>iotatonos</key>
    <string>iotatonos.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kabashkircyr</key>
    <string>kabashkircyr.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>obarcyr-stroke</key>
    <string>obarcyr-stroke.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>omegatonos</key>
    <string>omegatonos.glif</string>
    <key>omicron</key>
    <string>omicron.glif</string>
    <key>omicrontonos</key>
    <string>omicrontonos.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.tab</key>
    <string>one.tab.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>periodcentered.loclCAT.case</key>
    <string>periodcentered.loclC_A_T_.case.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.tab</key>
    <string>six.tab.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>te</key>
    <string>te.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonos.case</key>
    <string>tonos.case.glif</string>
    <key>tonoscomb.case</key>
    <string>tonoscomb.case.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>upsilondieresis</key>
    <string>upsilondieresis.glif</string>
    <key>upsilondieresistonos</key>
    <string>upsilondieresistonos.glif</string>
    <key>upsilontonos</key>
    <string>upsilontonos.glif</string>
    <key>ustraight</key>
    <string>ustraight.glif</string>
    <key>ustraight-stroke</key>
    <string>ustraight-stroke.glif</string>
    <key>ustraightstroke</key>
    <string>ustraightstroke.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yi-dieresiscomb</key>
    <string>yi-dieresiscomb.glif</string>
    <key>yu-i</key>
    <string>yu-i.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>yu.bgr-stroke</key>
    <string>yu.bgr-stroke.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.tab</key>
    <string>zero.tab.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
